[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pytelegrambotapi = "*"
python-dotenv = "*"
psycopg2 = "*"
psycopg2-binary = "*"

[dev-packages]

[requires]
python_version = "3.12"

[scripts]
bot = "python -m app.main"
create_db = "python -m scripts.create_database"
