[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pytelegrambotapi = "*"
python-dotenv = "*"
psycopg2-binary = "*"
alembic = "*"

[dev-packages]

[requires]
python_version = "3.12"

[scripts]
bot = "python -m app.main"
migrate_db = "pipenv run alembic upgrade head"
